DEVNET_CHAIN_ID=31337
DEVNET_RPC_URL=http://127.0.0.1:8545/
DEVNET_ETH_NETWORK=

TESTNET_CHAIN_ID=25925
TESTNET_RPC_URL=https://rpc-testnet.bitkubchain.io
TESTNET_ETH_NETWORK=
TESTNET_VERIFY_URL=https://api-sepolia.etherscan.io/api

MAINNET_CHAIN_ID=96
MAINNET_RPC_URL=https://rpc-testnet.bitkubchain.io
MAINNET_ETH_NETWORK=
MAINNET_VERIFY_URL=

DEVNET_PRIVATE_KEY=
TESTNET_PRIVATE_KEY=
MAINNET_PRIVATE_KEY=
